{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Timeline</title>
	<link rel="stylesheet" href='{% static "about/css/style.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "about/css/bootstrap-glyphicons.css" %}' />
</head>

<body>
	<div class="wrapper-parallax">
		<header class="page-header"> 
			<h1>About Us...</h1>
		</header>
		
		<br>
		<br>
		<br>
		<center><h1 class="headline-bordered">Project Summary</h1>
		<div class="tex">
			<p>
				<strong>
					Water, once an abundant natural resource, is becoming a more valuable commodity due to droughts and overuse. 
					That's why Water Management is important.
					<br>
					It's a Raspberry Pi based project that monitors the amount of water consumed by Households.
					<br>
					The tentative plan is to display the consumption details on Django Based Web Portal.
				</strong>
			</p>
		</div></center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<div class="wrapper">
			<section class="block">
				<div class="each-year">
					<div class="title">April...</div>
					<div class="each-event">
						<div class="event-description">
							<h4>Things Done Till Now...</h4>
							<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> April 5th, 2017</medium></p>
							<p>Authentication and Developer's page have also been completed...</p>
						</div>
					</div>
				</div>
			</section>

			<section class="block"> 
				<div class="each-year">
					<div class="title" style="color:white">March...</div>
					<div class="each-event">
					  <div class="event-description">
						<h4>Task Finished till now</h4>
						<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> March 30th, 2017</medium></p>
						<p>First Page and Login Page is done...</p>  
					  </div>
					</div>

					<div class="each-event">
						<div class="event-description">
						  <h4>Start The Software Part</h4>
							<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> March 25th, 2017</medium></p>
							<p>Started Working On Web Portal.</p> 
							<p>The idea was to make a Django based portal...</p>
						</div>
					</div>

					<div class="each-event">
						<div class="event-description">
							<h4>First Evaluation</h4>
							<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> March 24th, 2017</medium></p>
							<p>We are supposed to show the project after 2 classes...</p>
						</div>
					</div>

					<div class="each-event">
						<div class="event-description">
							<h4>Mini Project</h4>
							<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> March 2nd, 2017</medium></p>
							<p>Mini-Project was evaluated by TAs...</p>
						</div>
					</div>

					<div class="each-event">
						<div class="event-description">
							<h4>Mini to Major Elevation</h4>
							<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> March 1st, 2017</medium></p>
							<p>We extended the mini-project("Water Management") to our major project...</p>
						</div>
					</div>
				</div>
			</section>

			<section class="block">
				<div class="each-year">
					<div class="title">February...</div>
					<div class="each-event">
						<div class="event-description">
							<h4>Mini Project Decided...</h4>
							<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> February 24th, 2017</medium></p>
							<p>We will be working on Water Management Project...</p>
						</div>
					</div>
					
					<div class="each-event">
						<div class="event-description">
							<h4>Mini And Major Projects</h4>
							<p><medium class="text-muted"><i class="glyphicon glyphicon-time"></i> February 17th, 2017</medium></p>
							<p>We have to work on two projects : Mini and Major...</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src='{% static "about/js/index.js" %}'></script>
</body>
</html>